	    </main>

	    <script src="/assets/js/app.js?v={{ version }}"></script>

		<!-- embeded scripts -->
			<script src="assets/fonts/cufon-yui.js"></script>
			<script src="assets/fonts/CF_Jack_Story_400.font.js"></script>
			<script>
				Cufon.replace('.nav li', { fontFamily: 'CF Jack Story', hover:'true' });
				Cufon.replace('.whatwedo h3', { fontFamily: 'CF Jack Story', hover:'true' });
				Cufon.replace('h3', { fontFamily: 'CF Jack Story', hover:'true' });
				Cufon.replace('.jackfont', { fontFamily: 'CF Jack Story', hover:'true' });
			</script>
		<!-- embeded scripts -->

	    {{#> scripts-block}}
	        {{!-- Custom scripts per page can be added. --}}
	    {{/scripts-block}}
	</body>
</html>