/**
 * _vars.css
 */

 /* Breakpoints */
 @custom-media --view-large ( width >= 1400px);
 @custom-media --view-desktop ( width >= 1056px);
 @custom-media --view-medium ( width <= 960px);
 @custom-media --view-tablet ( width <= 799px);
 @custom-media --view-small ( width <= 599px);