/**
 * _vars.css
 */

 :root {
	/* Spacing between header and content on mobile views */
	--mobileSpacing: 180px;

	--background-image: {
		background: url(../images/md_home_image.jpg) no-repeat center top fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
		-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
	};
}

 /* Breakpoints */
 @custom-media --view-large ( width >= 1400px);
 @custom-media --view-desktop ( width >= 1056px);
 @custom-media --view-medium ( width <= 960px);
 @custom-media --view-tablet ( width <= 799px);
 @custom-media --view-small ( width <= 540px);
