/* Clients */

.clients {
	/*margin-top: 50px;*/
}
.clients-heading {
	text-align: center;
}
.clients-list {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0;
}
.clients-list li {
	background: url(../images/client-logo-bg.png) no-repeat;
	margin: 0;
    padding: 0;
    width: 20%;
    height: 147px;
	display: flex;
	justify-content: center;
	align-items: center;
}
@media (--view-medium) {
	.clients {
		margin-top: var(--mobileSpacing);
	}
	.clients-list li {
		width: 194px;
	}
}