/*----------------
	Header
-----------------*/

.header {
    background: url(../images/header-bg.png) repeat-x center top;
	width: 100%;
}
.menu-toggle {
	display: none;
}

/*---------------
	Navigation
----------------*/

.nav {
	background: url(../images/nav-bg.png) no-repeat;
	display: flex;
	justify-content: space-between;
	list-style: none;
    margin: 3rem auto 0 auto;
	max-width: 966px;
	padding: 0;
	text-align: center;
}
.nav li {
    margin: 0;
    padding: 8px 0;
    width: 144px;
    font-size: 18px;
}
.logo {
	margin-top: -6.5rem !important;
	width: 385px !important;
}

.nav li:last-child {
    padding-left: 0;
}

.nav li a {
    color: #FFF;
    text-decoration: none;
}

.nav li a:hover {
    color: #57ff57;
}

.nav li a.active {
    color: #57ff57;
}

/*---------------
	Socials
----------------*/

.socials {
	background: url(../images/social-bg.png) no-repeat left top;
    height: 51px;
	margin: 0;
    padding: 0 0 0 1.9rem;
}

.socials li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
    text-indent: -999999px;
    width: 28px;
    height: 28px;
}

.socials li a {
    text-decoration: none;
    display: block;
    height: 28px;
}

.socials li.facebook {
    background: url(../images/social-icons.png) no-repeat 0 0;
}

.socials li.facebook:hover {
    background-position: 0 -31px;
}

.socials li.twitter {
    background: url(../images/social-icons.png) no-repeat -29px 0px;
}

.socials li.twitter:hover {
    background-position: -29px -31px;
}

.socials li.youtube {
    background: url(../images/social-icons.png) no-repeat -58px 0px;
}

.socials li.youtube:hover {
    background-position: -58px -31px
}

.youtube-partner {
	padding-right: 20px;
    position: absolute;
	right: 0;
    top: 5px;
}

@media (--view-medium) {
	.header {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
	.site-logo {
		position: absolute;
	    right: 50%;
	    transform: translateX(50%);
	    width: 275px;
		& img {
			max-width: 100%;
		}
	}
	.menu-toggle {
		cursor: pointer;
		display: block;
		position: absolute;
		right: 2rem;
		top: -0.5rem;
		&::before,
		&::after {
			background-color: #000;
	    	display: block;
	    	content: '';
	    	height: 2px;
	    	margin-top: 5px;
	    	width: 29px;
		}
	}
	.menu-bar {
		background-color: #000;
		content: '';
		display: block;
		font-size: 0;
		height: 2px;
		margin-top: 5px;
		width: 29px;
	}
	.nav {
		align-items: center;
		background-color: #fff;
		background-image: none;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		margin-top: 0;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 999;
		display: none;
	}
	.nav li {
	    order: 2;
	}
	.nav li a {
	    color: #000;
	}
	.logo {
		margin-top: 0 !important;
		order: 1 !important;
	}
	.socials {
		display: none;
	}
	.youtube-partner {
		position: static;
		width: 20%;
		& img {
			max-width: 100%;
		}
	}
}