/* Homepage */
.homepage {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.whatwedo {
    color: #fff;
	margin-bottom: 2rem;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(0,0,0,0.7);
	padding: 15px 15px;
	border-radius: 2px;
	width: 260px;
}
.whatwedo h3 {
	color: #fff;
	margin-bottom: 2rem;
}
.whatwedo p {
    font-family: arial;
    font-size: 14px;
    margin-bottom: 10px;
}
.homepage .swiper-container {
	margin-bottom: 2rem;
	width: 100%;
	max-width: 513px;
}
.homepage .swiper-pagination-bullet-active {
	background-color: #fff;
}
.homepage .swiper-button-prev,
.homepage .swiper-button-next {
	background-color: rgba(255,255,255, 0.8);
	background-size: 30%;
	border-radius: 50%;
	height: 50px;
	width: 50px;
}
@media (view-medium) {
	.whatwedo {
		margin: 0 auto 0 auto;
	}
	.homepage .swiper-container {
		width: 100%;
	}
}