/* Homepage */

.whatwedo {
    color: #fff;
	margin-top: var(--mobileSpacing);
	margin-bottom: 2rem;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(0,0,0,0.7);
	padding: 15px 15px;
	border-radius: 2px;
	max-width: 34rem;
}
.whatwedo h3 {
	color: #fff;
	margin-bottom: 2rem;
}
.whatwedo p {
    font-family: arial;
    font-size: 14px;
    margin-bottom: 10px;
}

.contentarea {
    margin-top: 40px;
}

.latestwork {


}

@media (view-medium) {
	.whatwedo {
		margin: 180px auto 0 auto;
	}
}