/*------------------
	Base
-------------------*/

body {
    margin: 0;
    padding: 0;
	position: relative;
    height: 100%;
    min-height: 100%;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}
.container {
	margin-left: auto;
	margin-right: auto;
	margin-top: var(--desktopSpacing);
	max-width: 1008px;
	position: relative;
}
@media (--view-medium) {
	.container {
		margin-top: var(--mobileSpacing);
		padding: 0 1rem;
	}
}
.bg-image {
	&::before {
		background-image: url(../images/md_home_image.jpg);
		background-repeat: no-repeat;
		background-position: center top;
		background-attachment: fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
		-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}
.about-bg {
	&::before {
		background-image: url(../images/md-about-new.jpg);
	}
}
.contact-bg {
	height: 100vh;
	&::before {
		background-image: url(../images/md_home_contact.jpg);
	}
}
.clientsandawards-bg {
	&::before {
		background-image: url(../images/md_home_clients.jpg);
	}

}
.work-bg {
	&::before {
		background-image: url(../images/md_home_work.jpg);
	}

}
