/* WORK */

.work-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
    list-style: none;
    position: relative;
    margin: 20px auto;
    padding: 0;
}

.work-list li h3 {
    text-align: left;
    margin-left: 15px;
    font-size: 22px;
}

.work-list li h3 span {
    color: #136015;
    font-size: 18px;
}

.work-list li img {
    margin-top: 18px;
    margin-left: 5px;
}

.work-list li {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    list-style-type: none;
    background: url(../images/work-paper_back.png) no-repeat;
    width: 320px;
    height: 245px;
    vertical-align: middle;
    text-align: center;
}

.work-list li a,
.work-list li a img {
    display: inline-block;
    position: relative;
}

.work-list li a {
    overflow: hidden;
    width: 320px;
    height: 245px;
}

.work-list li a div {
    position: absolute;
    background: #333;
    background: url(../images/hover.png) no-repeat;
    width: 100%;
    height: 100%;
}

.work-list li a div span {
    display: block;
    padding: 10px 0;
    margin: 10px 20px 20px 20px;
    text-transform: uppercase;
    font-weight: normal;
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 12px;
    text-align: left;
}

.work-list li a div {
    top: 0px;
    left: -100%;
    transition: all 0.3s ease-in-out;
}

.work-list li a:hover div {
    left: 0px;
}
@media (--view-medium) {
	.work-list {
		margin: 180px auto 20px auto;
	}
}