
.home-bg {
    background: url(../images/md_home_image.jpg) no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
}

.about-bg {
    background: url(../images/md-about-new.jpg) no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
}

.contact-bg {
    background: url(../images/md_home_contact.jpg) no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
}

.client-bg {
    background: url(../images/md_home_clients.jpg) no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
}

.work-bg {
    background: url(../images/md_home_work.jpg) no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
}

/*.whatwedo {
    background: url(../images/whatwedo-bg.png) no-repeat;
    min-height: 566px;
    padding-right: 20px;
    padding-left: 25px;
    padding-top: 69px;
}

.whatwedo p {
    font-family: arial;
    font-size: 12px;
    margin-bottom: 10px;
}

.contentarea {
    margin-top: 40px;
}

.latestwork {
    background: url(../images/latest-work.png) no-repeat right top;
    min-height: 322px;
    padding: 26px 74px;
}

.our-clients {
    background: url(../images/our-clients-bg.png) no-repeat right top;
    padding: 63px 47px;
}

.our-clients ul {
    margin: 0;
    padding: 0px;
    display: table-row;
}

.our-clients ul li {
    margin: 0 8px 0 0;
    padding: 0;
    list-style-type: none;
    display: table-cell;
    background: url(../images/clients-logo-bg.png) no-repeat;
    width: 170px;
    height: 115px;
    vertical-align: middle;
    text-align: center;
}*/

.jackfont {
    font-size: 17px;
    color: #FFF;
    text-shadow: 2px 3px 2px #000000;
    filter: dropshadow(color=#000000, offx=2, offy=3);
}

.contentbg {
    background: url(../images/content-bg.png) repeat-y left top;
    min-height: 200px;
}

.contentbgbottom {
    background-position: 0px -733px;
    min-height: 23px;
}

.contentbg p {
    font-family: arial;
    font-size: 12px;
    margin-bottom: 10px;
}

.clientsandawards {}

.clientsandawards .heading {
    text-align: center;
}

.clients ul {
    margin: 0;
    padding: 0;
    display: table-row;
    text-align: center;
}

.clients ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background: url(../images/client-logo-bg.png) no-repeat;
    width: 194px;
    height: 147px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.work ul {
    margin: 0;
    padding: 0;
}

.work ul li {
    margin: 0 8px 25px 0;
    padding: 0px 0 0 0;
    list-style-type: none;
    background: url(../images/work-paper_back.png) no-repeat;
    width: 320px;
    height: 245px;
    display: inline;
    vertical-align: middle;
    text-align: center;
}

.work ul li h3 {
    text-align: left;
    margin-left: 15px;
    font-size: 22px;
}

.work ul li h3 span {
    color: #136015;
    font-size: 18px;
}

.work ul li img {
    margin-top: 18px;
    margin-left: 5px;
}

.logo img:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}

/*.contactus {
    background: url(../images/contact-bg.png) no-repeat;
    width: 521px;
    height: 89px;
    margin: 100px auto;
    vertical-align: middle;
    display: table;
    text-align: center;
}*/

.awards ul {
    overflow: hidden;
    margin: 0 auto;
    width: 777px;
    display: block;
}