{{#> page}}
    {{#*inline "main"}}
        <div class="container about">
			<div class="about-content">
				<p class="jackfont">
	                &nbsp;&nbsp;&nbsp;Moosedance is a production company specializing in the launch of branded YouTube channels. Moosedance is part of YouTube’s partner channel program. <br><br> &nbsp;&nbsp;The founders Dave Benson and Tom Lorenzo have
	                worked with Major League Baseball, Microsoft, USA Today, Bleacher Report, Berman Braun, Rodale Publishing and Jose Cuervo Tequila, among others.<br><br> &nbsp;&nbsp;&nbsp;Each of the last three channels launched has reached more than
	                a million viewers in three months. Since 2010, Moosedance is responsible for more than 3.5 billion unique media impressions.
	            </p>
	            <div class="about-content-bg">
	                <h3>DAVE BENSON</h3>
	                <p>
						Founder and Senior Director Dave Benson has worked for the BBC in London, EuroDisney in Paris and Major League Baseball in New York.He’s won a handful of digital media awards including a Shorty, a Webby and a Cynopsis Award. He has
	                    also won a New York Association of Black Journalists Award for his work with NY1. He was voted “Funniest” in high school and was one of the five tallest students in his Hebrew School.<br><br> He has identical twin sons and a big
	                    white dog named Pete who barks only when he hears a doorbell on TV. Along with his wife, Stephanie, they live in Queens.<br><br>
						<strong>Contact:</strong><a href="mailto:Dave@Moosedanceproductions.com">Dave@Moosedanceproductions.com</a><br>
						<strong>Twitter:</strong><a href="http://twitter.com/DaveBenson" target="_blank">@DaveBenson</a>
					</p>
	            </div>
			</div>
			<div class="about-content">
				<div class="about-content-bg">
	                <h3>TOM LORENZO</h3>
	                <p>
						Co-founder and Digital Strategy Director Tom Lorenzo has been working in digital media for close to 10 years, as an editor, producer and journalist for major sports and entertainment media websites. His work has been featured on AOL,
	                    Huffington Post, the Wall Street Journal, SB Nation, Yahoo! Sports, Sirius/XM, Abrams Media, Moguldom Media and NBA.com, to name a few.<br><br> He’s built social strategy for major content creators from the ground up, and implemented
	                    SEO strategy to expand unique viewership and reach many billions in digital impressions. He currently runs twitter accounts for celebrities, models, restaurants, tech start-ups, a bar group,online pharmacy and others.<br><br>
						<strong>Contact:</strong><a href="mailto:tom@moosedanceproductions.com">
							Tom@Moosedanceproductions.com</a><br>
						<strong>Twitter:</strong><a href="http://twitter.com/TomLorenzo" target="_blank">@TomLorenzo</a>
					</p>
	            </div>
			</div>
        </div>
    {{/inline}}
{{/page}}