{{#> page}}
    {{#*inline "main"}}
		<div class="contentarea container_16">
			<div class="grid_16">
				<div class="clientsandawards">
					<div class="heading"><img src="assets/images/some-clients-heading.png" /></div>
				</div>
				<div class="clients">
					<ul>
						<li><a href="#"><img src="assets/images/jose-logo.png" /></a></li>
						<li><a href="#"><img src="assets/images/microsoft-logo.png" /></a></li>
						<li><a href="#"><img src="assets/images/usa-today-logo.png" /></a></li>
						<li><a href="#"><img src="assets/images/hss-logo-web.png" /></a></li>
						<li><a href="#"><img src="assets/images/berman-braun-logo.png" /></a></li>


					</ul>
					<ul>
						<li><a href="#"><img src="assets/images/the-winslow-logo.png" /></a></li>
						<li><a href="#"><img src="assets/images/tawkers-logo.png" /></a></li>
						<li><a href="#"><img src="assets/images/completely-bare-logo.png" /></a></li>
						<li><a href="#"><img src="assets/images/cbr-logo.png" /></a></li>
						<li><a href="#"><img src="assets/images/mall-meds-logo.png" /></a></li>


					</ul>
				</div><br><br>
				<div class="clientsandawards">
					<div class="heading"><img src="assets/images/some-awards-heading.png" /></div>
				</div>
				<div class="clients awards">
					<ul>

						<li><a href="#"><img src="assets/images/shorty-logo.png" /></a></li>
						<li><a href="#"><img src="assets/images/the-webby-logo.png" /></a></li>
						<li><a href="#"><img src="assets/images/media-awards-logo.png" /></a></li>
						<li><a href="#"><img src="assets/images/abj_award.jpg" /></a></li>

					</ul>

				</div>
			</div>

		</div>
    {{/inline}}
{{/page}}
