{{#> page}}
    {{#*inline "main"}}
		<div class="container">
			<div class="clients">
				<div class="clients-heading"><img src="assets/images/some-clients-heading.png" /></div>
				<ul class="clients-list">
					{{#each clients}}
					  <li><img src="assets/images/{{ this.logopath }}"></li>
					{{/each}}
				</ul>
			</div>
			<div class="clients">
				<div class="clients-heading"><img src="assets/images/some-awards-heading.png" /></div>
				<ul class="clients-list">
					{{#each awards}}
					  <li><img src="assets/images/{{ this.logopath }}"></li>
					{{/each}}
				</ul>
			</div>
		</div>
    {{/inline}}
{{/page}}
