{{#> page}}
    {{#*inline "main"}}
		<div class="contentarea container_16">
			<div class="grid_16">
				<div class="contactus">
					<div style="display:table-cell; vertical-align:middle;">
					<a href="mailto:info@moosedanceproductions.com"><img src="assets/images/email.png" /></a>
					</div>
				</div>
			</div>
		</div>
    {{/inline}}
{{/page}}
