{{#> page}}
    {{#*inline "main"}}
		<div class="container">
			<div class="contact">
				<a class="contact-link" href="mailto:info@moosedanceproductions.com"><img src="assets/images/email.png" /></a>
			</div>
		</div>
    {{/inline}}
{{/page}}
