{{#> page}}
    {{#*inline "main"}}
		<div class="container homepage">
			<div class="whatwedo">
				<h3>WHAT WE DO</h3>
				<p>Moosedance is a full-scale video production company specializing in branded content. Our award-winning team of producers is responsible for hundreds of millions of impressions over the past few years. We are a one-stop-shot for digital content creation fulfilling campaigns of all sizes.</p>
			</div>
			<div class="swiper-container">
		        <div class="swiper-wrapper">
					{{#each homepage}}
						<div class="swiper-slide"><iframe width="100%" height="288" src="//{{ this.video }}" frameborder="0" allowfullscreen></iframe></iframe></div>
					{{/each}}
		        </div>
		        <!-- Add Pagination -->
		        <div class="swiper-pagination"></div>
		        <!-- Add Arrows -->
		        <div class="swiper-button-next"></div>
		        <div class="swiper-button-prev"></div>
		    </div>
			<div class="clients">
				<div class="clients-heading"><img src="assets/images/some-clients-heading.png" /></div>
				<ul class="clients-list">
					{{#each clients}}
					  <li><img src="assets/images/{{ this.logopath }}"></li>
					{{/each}}
				</ul>
			</div>
		</div>
    {{/inline}}
{{/page}}
